/* Adjust button position */


.chatbot-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.close-button {
  position: absolute;
  top: 8px;
  right: -2px;
  background: transparent;
  border: none;
  font-size: 10px;
  cursor: pointer;
  color: #dc3545;
  z-index: 5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0);
}

/* Chatbot container styles */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 750px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  display: none;
  transition: max-height 0.3s ease;
}

.chatbot-container.open {
  display: block;
  max-height: 100vh;
}

.chatbot-container::-webkit-scrollbar {
  display: none;
}

.chatbot-container {
  -ms-overflow-style: none;
}

/* Chat message container */
.react-chatbot-kit-chat-message-container {
  background-color:rgba(255, 255, 255, 1);
  padding: 10px;
  height: 411px;
  overflow-y: auto; /* Allow vertical scrolling if needed */
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
  display: none;
}

/* Chat input styles */
.react-chatbot-kit-chat-input {
  background-color: #eee;
  outline: none;
  height: auto;
}

.react-chatbot-kit-chat-input-form{
  height: 36px;
  z-index: 100;
}

.react-chatbot-kit-chat-btn-send{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: auto;
  background-color:#eee;
  border-top: 1px solid #d8d8d8;
}

/* Bot message styles */
.react-chatbot-kit-chat-bot-message {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: rgba(245, 245, 245, 1);
  color: black;
  line-height: auto;
}

.react-chatbot-kit-chat-bot-message{
  margin-left: 4px;
  border-top-left-radius:0;
  font-size: 13px;
  width: 85%;
}

.react-chatbot-kit-user-chat-message{
  border-top-right-radius:0;
  font-size: 13px;
}

.react-chatbot-kit-chat-inner-container{
  border-radius: 0px;
}

/* Hide avatar containers */
.react-chatbot-kit-chat-bot-avatar-container,
.react-chatbot-kit-user-avatar-container {
  display: none;
}
.react-chatbot-kit-user-chat-message-arrow,
.react-chatbot-kit-chat-bot-message-arrow{
  display: none;
}

.react-chatbot-kit-chat-bot-message-container,
.react-chatbot-kit-user-chat-message-container{
  margin: 10px 0px;
  height: auto;
}
@keyframes slideAndBounce {
  0% {
    transform: translateX(100%) translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateX(10%) translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

.chatbot-icon-img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 100; 
  transition: transform 0.3s ease-in-out; 
  animation: slideAndBounce 0.6s ease-out; /* Apply combined animation */
}

.chatbot-icon-img:hover {
  transform: scale(1.1); 
}

