.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-button {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  color: rgba(186, 147, 62, 1);
  background-color:rgba(68, 68, 68, 1);
  border: none;
  border-radius: 11px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.option-button:hover {
  background-color: #e1e1e1;
}

.option-content {
  display: flex;
  align-items: center;
}

.option-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}